body {
    margin: 0px;
    padding: 0px;
}

nav {
    padding: 10px;
    grid-area: menu;
    background: red;
    color: white;
}

.filtros {
    grid-area: filtros;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100px;
    margin-bottom: 30px;
}

main {
    grid-area: seccion-principal;
    padding: 10px;
}

footer {
    grid-area: pie-de-pagina;
    background: green;
    color: white;
    padding: 10px;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-rows: 1fr auto auto 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        "menu menu"
        "filtros filtros"
        "seccion-principal seccion-principal"
        "pie-de-pagina pie-de-pagina";
}


.caja-nav {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Slab', serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.car-titulo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.caja-nav img {
    width: 10%;
    height: 60%;
    margin-right: 25px;
}

.caja-nav ul {
    display: none;
}

.secciones {
    background-color: white;
}

.filtros select {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Slab', serif;
    height: 25px;
    width: 150px;
}

.productos {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 100%;
}

.infoproducto {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Slab', serif;
    background-color: aqua;
}

.cajaimgproducto {
    height: 225px;
}

.infoproducto button {
    margin-bottom: 25px;
}

.imgproducto {
    height: 226px;
    width: 360px;
    object-fit: cover;
}


.pagination {
    display: flex;
    justify-content: center;
}

.pagination ul {
    display: flex;
    border: 1px solid black;
    list-style: none;

}

.pagination li {
    border: 1px solid black;

}

.logosfooter {
    display: flex;
    justify-content: center;
    text-align: center;
}

.logosfooter img {
    height: 28px;
}

.logosfooter span {
    background-color: aqua;
}



@media (min-width: 576px) {

    .grid-container {
        grid-template-areas:
            "menu filtros"
            "menu seccion-principal"
            "pie-de-pagina seccion-principal"
        ;
        grid-template-columns: 16% 89%;
        grid-template-rows: 1fr auto auto;

    }

    nav {
        height: 85vh;
    }

    .caja-nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 79vh;
    }

    .caja-nav ul :hover {
        background-color: rgb(124, 17, 126);
        cursor: pointer;
    }

    .caja-nav img {
        display: none;
    }

    .caja-nav ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .filtros {
        text-align: center;
        display: flex;
        flex-direction: column;
        height: 8%;
        margin-bottom: 4px;
    }

    .filtros select {
        height: 24px;
        width: 88%;
    }

    .filtros p {
        margin-top: 20px;
    }

    main {
        padding: 0;
        min-height: 100vh;
    }

    .productos {
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 10px;
        align-items: center;
        height: 80vh;
        width: 100%;
    }

    .productos :hover {
        background-color: rgb(10, 133, 133);
    }


    .cajaimgproducto {
        height: 189px;
    }

    .imgproducto {
        height: auto;
        object-fit: cover;
    }

    footer {
        padding: 26px;
    }
}